<div id="container">

  <div id="card-container">
    <div class="col-wrapper">
      <div class="col col-1">

        <div class="item">
          <div class="item-img">
            <img src="../../../assets/img/1.jpg">
          </div>
          <div class="item-desc">
            <p class="item-heading">🌁🌃<br/>
              El sol no es el único culpable del envejecimiento y solo 3
de cada 10 de las mujeres lo saben.</p>
            <p>
La contaminación ambiental de las ciudades provoca arrugas y
envejece hasta un 10% más rapido tu piel. Hay alternativas sencillas
que la cosmética y la dermatología ofrecen para combatir estos
daños. ​El ozono y otras partículas que se desprenden de agentes que
contaminan el medio ambiente, aceleran la aparición de arrugas, intoxican las
células y dañan vorazmente nuestra piel. ¡Prácticamente la asfixian dejándola
indefensa!​. Los contaminantes que más problemas generan son las
partículas en suspensión en el aire, el dióxido de nitrógeno, el ozono
troposférico y el dióxido de azufre". Por esa razón es muy importante que todas las noches hagamos una
limpieza profunda de la piel para evitar que esté en contacto por 8 hs
con estos agentes de envejecimiento, utilizando aceites y espumas
de limpieza efectivos.
deydeliciuosWaoooo interesante... pero como se realiza una limpieza profunda de piel??? Con cremas o a través de tratamientos cosméticos como el peeling, microdermoabración... entre otros.
perla.cosmetica.coreanaLo ideal es diariamente hacer una limpieza doble como esta explicado en los posts anteriores para limpiar tanto lo liposoluble como lo hidrosoluble.
perla.cosmetica.coreanaAdemás si podemos usar complementariamente productos que exfolien la piel.
8889florGracias por la información, me viene bien porque la mayoría del tiempo ando en la calle de acá para allá y tengo la piel sensible y trato de cuidarla mucho, un abrazo grande!!</p>
            <a href="#">Read More</a>
          </div>
        </div>

        <div class="item">
          <div class="item-img">
            <img src="../../../assets/img/2.jpg">
          </div>
          <div class="item-desc">
            <p class="item-heading">Feliz Navidad 🙃</p>
            <p></p>
            <a href="#">Read More</a>
          </div>
        </div>

      </div>

      <div class="col col-2">

        <div class="item">
          <div class="item-img">
            <img src="../../../assets/img/3.jpg">
          </div>
          <div class="item-desc">
            <p class="item-heading">#pirotecniacero #celebrasinpirotecnia #noalapirotecnia</p>
            <p>
            </p>
            <a href="#">Read More</a>
          </div>
        </div>

        <div class="item">
          <div class="item-img">
            <img src="../../../assets/img/4.jpg">
          </div>
          <div class="item-desc">
            <p class="item-heading"></p>
            <p>
            </p>
            <a href="#">Read More</a>
          </div>
        </div>

      </div>
    </div>

    <div class="col-wrapper">
      <div class="col col-1">

        <div class="item">
          <div class="item-img">
            <img src="../../../assets/img/5.jpg">
          </div>
          <div class="item-desc">
            <p class="item-heading">En stock🐬$550</p>
            <p>
            </p>
            <a href="#">Read More</a>
          </div>
        </div>

        <div class="item">
          <div class="item-img">
            <img src="https://gallery.mailchimp.com/89de7eebd8/images/shutterstock_111599714.jpg">
          </div>
          <div class="item-desc">
            <p class="item-heading">Is My Salad... Flying?!</p>
            <p>
              Water spinach arugula pea tatsoi aubergine spring onion bush tomato kale radicchio turnip chicory salsify pea sprouts fava bean. Dandelion zucchini burdock yarrow chickpea dandelion sorrel courgette turnip greens tigernut soybean radish artichoke wattle
              seed endive groundnut broccoli arugula.
            </p>
            <a href="#">Read More</a>
          </div>
        </div>

      </div>

      <div class="col col-2">

        <div class="item">
          <div class="item-img">
            <img src="http://previews.123rf.com/images/subbotina/subbotina1303/subbotina130300185/18690589-Diet-Beautiful-Young-Woman-Eating-Vegetable-Salad--Stock-Photo-healthy.jpg">
          </div>
          <div class="item-desc">
            <p class="item-heading">Funniest Salad Ever</p>
            <p>
              Beetroot water spinach okra water chestnut ricebean pea catsear courgette summer purslane. Water spinach arugula pea tatsoi aubergine spring onion bush tomato kale radicchio turnip chicory salsify pea sprouts fava bean. Dandelion zucchini burdock yarrow
              chickpea dandelion sorrel courgette turnip greens tigernut soybean radish artichoke wattle seed endive groundnut broccoli arugula.
            </p>
            <a href="#">Read More</a>
          </div>
        </div>

        <div class="item">
          <div class="item-img">
            <img src="http://ak1.picdn.net/shutterstock/videos/1226170/preview/stock-footage-beautiful-woman-eating-salad-in-the-city-outdoors.jpg">
          </div>
          <div class="item-desc">
            <p class="item-heading">Salad, You Only Need Salad</p>
            <p>
              Garlic courgette coriander radicchio plantain scallion cauliflower fava bean desert raisin spring onion chicory bunya nuts. Sea lettuce water spinach gram fava bean leek dandelion silver beet eggplant bush tomato.
            </p>
            <a href="#">Read More</a>
          </div>

        </div>
      </div>
    </div>

  </div>
