<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img width="300" alt="Angular Logo" src="https://scontent-eze1-1.cdninstagram.com/t51.2885-19/s320x320/25005707_158887301507540_5427678780455911424_n.jpg">
</div>
<h2 style="text-align:center">Envíos a todos el país</h2>
<app-product-container></app-product-container>
<!--
<div class="content">
</div>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
-->
